<table class="table">
		<tr><%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %></tr>

		<tr>
			<th>name</th>
			<th><%= user.name %></th>
		</tr>

		<tr>
			<th>introduction</th>
			<th><%= user.introduction %></th>
		</tr>

		<tr>
			<th>follows</th>
			<th>
				<%= link_to follows_user_path(user) do %>
					<%= user.followings.count %>
				<% end %>
			</th>
		</tr>

		<tr>
			<th>followers</th>
			<th>
				<%= link_to followers_user_path(user) do %>
					<%= user.followers.count %>
				<% end %>
			</th>
		</tr>
</table>

<!-- 今ログインしているユーザーじゃない場合 -->
<% if current_user != user %>
<!-- このユーザーは自分がフォローしてないユーザーか確かめる -->
  <% if user.followed_by?(current_user) %>
	<!-- ture = フォローしている なら外すボタン -->
    <p><%=link_to "フォロー外す", user_relationships_path(user.id), method: :delete, class: "btn btn-warning" %></p>
  <% else %>
	<!--false = フォローしていない　ならフォローするボタン-->
    <p><%=link_to "フォローする", user_relationships_path(user.id), method: :post, class: "btn btn-success" %></p>
	<% end %>
<% end %>
<!-- チャットルームへのボタン -->
<div class="row text-center">
	<%= form_with model: @room do |f| %>
		<%= f.text_field :name %>
		<%= f.submit %>
	<% end %>
</div>

<div class="row">
	<%= link_to '',edit_user_path(user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{user.id}" %>
</div>
